RPI_Nodes/watson visual for 3
[
    {
        "id": "a68d9a8a.d75cf",
        "type": "tab",
        "label": "FacialRec3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cba22bf0.9c3ef8",
        "type": "exec",
        "z": "a68d9a8a.d75cf",
        "command": "sudo raspistill -o /var/www/html/fotos/alle.jpg -q 15 -md 4 -t 5000 -br 50 -hf -vf",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "take picture",
        "x": 490,
        "y": 340,
        "wires": [
            [
                "67677e77.e79a58"
            ],
            [],
            []
        ]
    },
    {
        "id": "67677e77.e79a58",
        "type": "delay",
        "z": "a68d9a8a.d75cf",
        "name": "",
        "pauseType": "delay",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 320,
        "wires": [
            [
                "94265598.376898"
            ]
        ]
    },
    {
        "id": "94265598.376898",
        "type": "file in",
        "z": "a68d9a8a.d75cf",
        "name": "Buffer image",
        "filename": "/var/www/html/fotos/alle.jpg",
        "format": "",
        "sendError": true,
        "x": 490,
        "y": 400,
        "wires": [
            [
                "b695bc21.ad3568"
            ]
        ]
    },
    {
        "id": "6acd46cf.9b6f1",
        "type": "http in",
        "z": "a68d9a8a.d75cf",
        "name": "",
        "url": "/cara3",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "8bd7713b.9b83a",
                "dd7b8426.a7073"
            ]
        ]
    },
    {
        "id": "97c1b0a7.d8b0d8",
        "type": "http response",
        "z": "a68d9a8a.d75cf",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 340,
        "wires": []
    },
    {
        "id": "b695bc21.ad3568",
        "type": "visual-recognition-v3",
        "z": "a68d9a8a.d75cf",
        "name": "",
        "vr-service-endpoint": "https://gateway.watsonplatform.net/visual-recognition/api",
        "image-feature": "detectFaces",
        "lang": "en",
        "x": 730,
        "y": 400,
        "wires": [
            [
                "97c1b0a7.d8b0d8",
                "1dcf3cb7.2c29f3",
                "151c53d2.f7e18c"
            ]
        ]
    },
    {
        "id": "3b13f013.a8d4b",
        "type": "inject",
        "z": "a68d9a8a.d75cf",
        "name": "Test Picture 2",
        "topic": "",
        "payload": "https://previews.123rf.com/images/marctran/marctran1607/marctran160700053/61442686-dos-personas-de-pie-con-las-manos-en-la-parte-superior-entre-s%C3%AD-y-sonriendo-aislado.jpg",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 690,
        "y": 460,
        "wires": [
            [
                "b695bc21.ad3568"
            ]
        ]
    },
    {
        "id": "751b2f1f.774c38",
        "type": "inject",
        "z": "a68d9a8a.d75cf",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 340,
        "wires": [
            [
                "dd7b8426.a7073",
                "8bd7713b.9b83a"
            ]
        ]
    },
    {
        "id": "32459284.8d679e",
        "type": "delay",
        "z": "a68d9a8a.d75cf",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 240,
        "wires": [
            [
                "cba22bf0.9c3ef8"
            ]
        ]
    },
    {
        "id": "b6ef913.110e67",
        "type": "debug",
        "z": "a68d9a8a.d75cf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1110,
        "y": 480,
        "wires": []
    },
    {
        "id": "1dcf3cb7.2c29f3",
        "type": "debug",
        "z": "a68d9a8a.d75cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 930,
        "y": 500,
        "wires": []
    },
    {
        "id": "8bd7713b.9b83a",
        "type": "function",
        "z": "a68d9a8a.d75cf",
        "name": "Delete from DB",
        "func": "var newMsg = { payload: msg.payload };\nnewMsg.topic= \"delete from Face3\";\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 180,
        "wires": [
            [
                "bf09eb29.fff8a8"
            ]
        ]
    },
    {
        "id": "3a0301a.d2f667e",
        "type": "debug",
        "z": "a68d9a8a.d75cf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "e2e45e15.539178",
        "type": "inject",
        "z": "a68d9a8a.d75cf",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 120,
        "wires": [
            [
                "8bd7713b.9b83a"
            ]
        ]
    },
    {
        "id": "dd7b8426.a7073",
        "type": "exec",
        "z": "a68d9a8a.d75cf",
        "command": "sudo rm -r /var/www/html/fotos/alle.jpg",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Delete Picture",
        "x": 500,
        "y": 260,
        "wires": [
            [
                "32459284.8d679e"
            ],
            [],
            []
        ]
    },
    {
        "id": "28a6d91.60ceb26",
        "type": "debug",
        "z": "a68d9a8a.d75cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1070,
        "y": 340,
        "wires": []
    },
    {
        "id": "151c53d2.f7e18c",
        "type": "function",
        "z": "a68d9a8a.d75cf",
        "name": "Info2",
        "func": "var newMsg = { payload: msg.payload };\nnewMsg.topic= \"insert into Face3(MinAge,MaxAge,Gender) values (\"+msg.result.images[0].faces[0].age.min+\",\"+msg.result.images[0].faces[0].age.max+\",+'\"+msg.result.images[0].faces[0].gender.gender_label+\"'), (\"+msg.result.images[0].faces[1].age.min+\",\"+msg.result.images[0].faces[1].age.max+\",+'\"+msg.result.images[0].faces[1].gender.gender_label+\"'), (\"+msg.result.images[0].faces[2].age.min+\",\"+msg.result.images[0].faces[2].age.max+\",+'\"+msg.result.images[0].faces[2].gender.gender_label+\"')\";\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 400,
        "wires": [
            [
                "28a6d91.60ceb26",
                "eec8234a.67b978"
            ]
        ]
    },
    {
        "id": "bf09eb29.fff8a8",
        "type": "mysql",
        "z": "a68d9a8a.d75cf",
        "mydb": "817c56c1.e8838",
        "name": "",
        "x": 660,
        "y": 180,
        "wires": [
            [
                "3a0301a.d2f667e"
            ]
        ]
    },
    {
        "id": "eec8234a.67b978",
        "type": "mysql",
        "z": "a68d9a8a.d75cf",
        "mydb": "817c56c1.e8838",
        "name": "",
        "x": 1070,
        "y": 400,
        "wires": [
            [
                "b6ef913.110e67"
            ]
        ]
    },
    {
        "id": "817c56c1.e8838",
        "type": "MySQLdatabase",
        "z": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "face3",
        "tz": ""
    }
]
