RPI_Nodes/Watson-Visual-Recognition SQL
[{"id":"ff9d6969.817ea8","type":"exec","z":"81e8b390.383d","command":"sudo raspistill -o /var/www/html/fotos/alle.jpg -q 15 -md 4 -t 5000 -br 50 -hf -vf","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"take picture","x":650,"y":260,"wires":[["eafc089a.80abc"],[],[]]},{"id":"eafc089a.80abc","type":"delay","z":"81e8b390.383d","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":320,"wires":[["bfdead93.7df73"]]},{"id":"bfdead93.7df73","type":"file in","z":"81e8b390.383d","name":"Buffer image","filename":"/var/www/html/fotos/alle.jpg","format":"","sendError":true,"x":590,"y":320,"wires":[["52629e97.df1"]]},{"id":"9f36bfd.26c884","type":"http in","z":"81e8b390.383d","name":"","url":"/cara","method":"get","upload":false,"swaggerDoc":"","x":400,"y":180,"wires":[["ff9d6969.817ea8","377abd25.848022"]]},{"id":"93a96cea.cb6ae","type":"http response","z":"81e8b390.383d","name":"","statusCode":"","headers":{},"x":910,"y":260,"wires":[]},{"id":"52629e97.df1","type":"visual-recognition-v3","z":"81e8b390.383d","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":790,"y":320,"wires":[["93a96cea.cb6ae","f7301c33.47cdf8","ecbce621.3fcea8"]]},{"id":"ad27a090.f3bce8","type":"inject","z":"81e8b390.383d","name":"","topic":"","payload":"https://tmssl.akamaized.net/images/portrait/originals/296622-1447228327.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":380,"wires":[["52629e97.df1"]]},{"id":"6f91af4f.37b7d8","type":"inject","z":"81e8b390.383d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":260,"wires":[["c9857d05.acaf8"]]},{"id":"c9857d05.acaf8","type":"delay","z":"81e8b390.383d","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":260,"wires":[["ff9d6969.817ea8"]]},{"id":"ecbce621.3fcea8","type":"function","z":"81e8b390.383d","name":"min","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic= \"insert into Face(MinAge,MaxAge,Gender) values (\"+msg.result.images[0].faces[0].age.min+\",\"+msg.result.images[0].faces[0].age.max+\",+'\"+msg.result.images[0].faces[0].gender.gender_label+\"')\";\nreturn newMsg;\n","outputs":1,"noerr":0,"x":970,"y":320,"wires":[["fb5899bd.5bcb3"]]},{"id":"41d5c341.7dabd4","type":"debug","z":"81e8b390.383d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":380,"wires":[]},{"id":"fb5899bd.5bcb3","type":"mysql","z":"81e8b390.383d","mydb":"6a01d88c.77289","name":"","x":1090,"y":320,"wires":[["41d5c341.7dabd4"]]},{"id":"f7301c33.47cdf8","type":"debug","z":"81e8b390.383d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":380,"wires":[]},{"id":"5c55cf6a.82ff28","type":"mysql","z":"81e8b390.383d","mydb":"817c56c1.e8838","name":"","x":730,"y":160,"wires":[["7356e602.0f405"]]},{"id":"377abd25.848022","type":"function","z":"81e8b390.383d","name":"","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic= \"delete from Face\";\nreturn newMsg;","outputs":1,"noerr":0,"x":570,"y":160,"wires":[["5c55cf6a.82ff28"]]},{"id":"7356e602.0f405","type":"debug","z":"81e8b390.383d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":160,"wires":[]},{"id":"cfb33ebc.67c6a","type":"inject","z":"81e8b390.383d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":140,"wires":[["377abd25.848022"]]},{"id":"6a01d88c.77289","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"face","tz":""},{"id":"817c56c1.e8838","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"face","tz":""}]
