CloudNodes/Lights-Weather-Cloudant.txt
[
    {
        "id": "6cbf04ff.02036c",
        "type": "inject",
        "z": "1041ad77.d399b3",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "01 00 * * *",
        "once": false,
        "onceDelay": "",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "1a86ecd3.931793"
            ]
        ]
    },
    {
        "id": "832c09a.6360df8",
        "type": "debug",
        "z": "1041ad77.d399b3",
        "name": "Full",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 250,
        "y": 220,
        "wires": []
    },
    {
        "id": "1a86ecd3.931793",
        "type": "weather_insights",
        "z": "1041ad77.d399b3",
        "name": "",
        "host": "twcservice.eu-gb.mybluemix.net",
        "service": "/observations/timeseries.json?hours=23",
        "geocode": "46.0510788,14.5051298",
        "units": "m",
        "language": "en-US",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "832c09a.6360df8",
                "909858a5.bc13f",
                "cdb1e3c6.caea38"
            ]
        ]
    },
    {
        "id": "7bcc6bf2.25718c",
        "type": "function",
        "z": "1041ad77.d399b3",
        "name": "Check",
        "func": "var weather = {payload: msg.observations[parseInt(msg.payload)].wx_phrase};\nreturn weather;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "f728e7f7.dea7",
                "92413001.1e2ed"
            ]
        ]
    },
    {
        "id": "f728e7f7.dea7",
        "type": "debug",
        "z": "1041ad77.d399b3",
        "name": "comp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 608.3333740234375,
        "y": 220.33335876464844,
        "wires": []
    },
    {
        "id": "92413001.1e2ed",
        "type": "switch",
        "z": "1041ad77.d399b3",
        "name": "Options",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Tornado",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Tropical Storm",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Hurricane",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Strong Storms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Thunder and Hail",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Mixed Rain & Hail",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Isolated Thunderstorms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Thunderstorms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Thunderstorms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Rain to Snow Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Rain / Sleet",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Wintry Mix Snow / Sleet",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Freezing Drizzle",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Drizzle",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Freezing Rain",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Light Rain",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Rain",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Thunderstorms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Flurries",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Light Snow",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Blowing / Drifting Snow",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Snow",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Hail",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Sleet",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Snow Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Heavy Snow",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Snow Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Foggy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Haze / Windy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Smoke / Windy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Breezy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Blowing Spray / Windy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Frigid / Ice Crystals",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Cloudy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Mostly Cloudy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Partly Cloudy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Blizzard",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Shallow Fog",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Clear",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Sunny",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Hot",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Fair",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Blowing Dust / Sandstorm",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Showers in the Vicinity",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 46,
        "x": 808.3331298828125,
        "y": 388.3333435058594,
        "wires": [
            [
                "94f5e49b.d4df58"
            ],
            [
                "94f5e49b.d4df58"
            ],
            [
                "94f5e49b.d4df58"
            ],
            [
                "94f5e49b.d4df58"
            ],
            [
                "94f5e49b.d4df58"
            ],
            [
                "94f5e49b.d4df58"
            ],
            [
                "94f5e49b.d4df58"
            ],
            [
                "94f5e49b.d4df58"
            ],
            [
                "94f5e49b.d4df58"
            ],
            [
                "21e7f7e0.8f5fb8"
            ],
            [
                "21e7f7e0.8f5fb8"
            ],
            [
                "21e7f7e0.8f5fb8"
            ],
            [
                "21e7f7e0.8f5fb8"
            ],
            [
                "21e7f7e0.8f5fb8"
            ],
            [
                "21e7f7e0.8f5fb8"
            ],
            [
                "21e7f7e0.8f5fb8"
            ],
            [
                "21e7f7e0.8f5fb8"
            ],
            [
                "21e7f7e0.8f5fb8"
            ],
            [
                "21e7f7e0.8f5fb8"
            ],
            [
                "bda7ee53.87b5a8"
            ],
            [
                "bda7ee53.87b5a8"
            ],
            [
                "bda7ee53.87b5a8"
            ],
            [
                "bda7ee53.87b5a8"
            ],
            [
                "bda7ee53.87b5a8"
            ],
            [
                "bda7ee53.87b5a8"
            ],
            [
                "bda7ee53.87b5a8"
            ],
            [
                "bda7ee53.87b5a8"
            ],
            [
                "bda7ee53.87b5a8"
            ],
            [
                "2c9cfb33.6fd51c"
            ],
            [
                "2c9cfb33.6fd51c"
            ],
            [
                "2c9cfb33.6fd51c"
            ],
            [
                "2c9cfb33.6fd51c"
            ],
            [
                "2c9cfb33.6fd51c"
            ],
            [
                "2c9cfb33.6fd51c"
            ],
            [
                "6810217e.4b985"
            ],
            [
                "6810217e.4b985"
            ],
            [
                "6810217e.4b985"
            ],
            [
                "2c9cfb33.6fd51c"
            ],
            [
                "2c9cfb33.6fd51c"
            ],
            [
                "2c9cfb33.6fd51c"
            ],
            [
                "5d321acd.8f6794"
            ],
            [
                "5d321acd.8f6794"
            ],
            [
                "5d321acd.8f6794"
            ],
            [
                "5d321acd.8f6794"
            ],
            [
                "5d321acd.8f6794"
            ],
            [
                "21e7f7e0.8f5fb8"
            ]
        ]
    },
    {
        "id": "94f5e49b.d4df58",
        "type": "template",
        "z": "1041ad77.d399b3",
        "name": "Storm/Red",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":65000\n}\n",
        "output": "str",
        "x": 1060,
        "y": 87.66659545898438,
        "wires": [
            [
                "34f7b6a.c58e1ca",
                "37e863b5.662ea4"
            ]
        ]
    },
    {
        "id": "34f7b6a.c58e1ca",
        "type": "debug",
        "z": "1041ad77.d399b3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1301.6666259765625,
        "y": 367.66656494140625,
        "wires": []
    },
    {
        "id": "37e863b5.662ea4",
        "type": "ibmiot out",
        "z": "1041ad77.d399b3",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "evt",
        "deviceId": "rpi1",
        "deviceType": "raspberry",
        "eventCommandType": "ON",
        "format": "json",
        "data": "colores",
        "qos": 0,
        "name": "ON",
        "service": "registered",
        "x": 1530.6666259765625,
        "y": 366.6666259765625,
        "wires": []
    },
    {
        "id": "de63a0df.72abc8",
        "type": "ibmiot out",
        "z": "1041ad77.d399b3",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "evt",
        "deviceId": "rpi1",
        "deviceType": "raspberry",
        "eventCommandType": "OFF",
        "format": "json",
        "data": "info",
        "qos": 0,
        "name": "OFF",
        "service": "registered",
        "x": 416.6667175292969,
        "y": 320.0000305175781,
        "wires": []
    },
    {
        "id": "909858a5.bc13f",
        "type": "function",
        "z": "1041ad77.d399b3",
        "name": "Time",
        "func": "var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 2; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nvar d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 2;\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = newDate.toLocaleTimeString().substr(0, 25);\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 160,
        "wires": [
            [
                "7bcc6bf2.25718c",
                "b69d5c96.c2fe08"
            ]
        ]
    },
    {
        "id": "21e7f7e0.8f5fb8",
        "type": "template",
        "z": "1041ad77.d399b3",
        "name": "Rain/Blue",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"bri\": 254,\n\t\"sat\": 254,\n\t\"hue\": 46543\n}\n",
        "output": "str",
        "x": 1056.3331298828125,
        "y": 196.99993896484375,
        "wires": [
            [
                "37e863b5.662ea4",
                "34f7b6a.c58e1ca"
            ]
        ]
    },
    {
        "id": "bda7ee53.87b5a8",
        "type": "template",
        "z": "1041ad77.d399b3",
        "name": "Snow/Light Blue",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":200,\n    \"bri\":254,\n    \"hue\":40000\n}",
        "output": "str",
        "x": 1068.7498779296875,
        "y": 141.41671752929688,
        "wires": [
            [
                "37e863b5.662ea4",
                "34f7b6a.c58e1ca"
            ]
        ]
    },
    {
        "id": "2c9cfb33.6fd51c",
        "type": "template",
        "z": "1041ad77.d399b3",
        "name": "Fog/White",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":30,\n    \"bri\":200,\n    \"hue\":3000\n}",
        "output": "str",
        "x": 1072.333251953125,
        "y": 378,
        "wires": [
            [
                "37e863b5.662ea4",
                "34f7b6a.c58e1ca"
            ]
        ]
    },
    {
        "id": "5d321acd.8f6794",
        "type": "template",
        "z": "1041ad77.d399b3",
        "name": "Sunny/Yellow",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"bri\": 254,\n    \"sat\": 254,\n\t\"hue\": 10000\n\t\n}",
        "output": "str",
        "x": 1085.4998779296875,
        "y": 628.0001220703125,
        "wires": [
            [
                "37e863b5.662ea4",
                "34f7b6a.c58e1ca"
            ]
        ]
    },
    {
        "id": "8621660e.087d28",
        "type": "inject",
        "z": "1041ad77.d399b3",
        "name": "OFF",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 320,
        "wires": [
            [
                "9aba96be.ae3ab8"
            ]
        ]
    },
    {
        "id": "9aba96be.ae3ab8",
        "type": "template",
        "z": "1041ad77.d399b3",
        "name": "Turn OFF",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":false,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":50000\n}",
        "output": "str",
        "x": 245.00003051757812,
        "y": 320.0000305175781,
        "wires": [
            [
                "de63a0df.72abc8"
            ]
        ]
    },
    {
        "id": "39e63b16.54ae7c",
        "type": "ibmiot out",
        "z": "1041ad77.d399b3",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "rpi1",
        "deviceType": "raspberry",
        "eventCommandType": "temp",
        "format": "json",
        "data": "info",
        "qos": 0,
        "name": "Sensor",
        "service": "registered",
        "x": 1238.499755859375,
        "y": 894.6666870117188,
        "wires": []
    },
    {
        "id": "144b47b0.11e1c8",
        "type": "inject",
        "z": "1041ad77.d399b3",
        "name": "kill continuous response for node FF-988",
        "topic": "firefly",
        "payload": "\"{\\\"cmd\\\":\\\"9882\\\"}\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 217.1666259765625,
        "y": 896.6666870117188,
        "wires": [
            [
                "ea039956.c49dd"
            ]
        ]
    },
    {
        "id": "ea039956.c49dd",
        "type": "json",
        "z": "1041ad77.d399b3",
        "name": "",
        "x": 597.1666259765625,
        "y": 898.6666870117188,
        "wires": [
            [
                "39e63b16.54ae7c"
            ]
        ]
    },
    {
        "id": "b87d9a20.206e08",
        "type": "switch",
        "z": "1041ad77.d399b3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Unsafe",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Warning",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 511.1666259765625,
        "y": 804.6666259765625,
        "wires": [
            [],
            [
                "bed3bf1b.ad2d38"
            ]
        ]
    },
    {
        "id": "bed3bf1b.ad2d38",
        "type": "change",
        "z": "1041ad77.d399b3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"{\\\"cmd\\\":\\\"9881305\\\"}\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 733.1666259765625,
        "y": 810.6666870117188,
        "wires": [
            [
                "a8ddc29a.26aa1",
                "cfc6af96.91bac8"
            ]
        ]
    },
    {
        "id": "a8ddc29a.26aa1",
        "type": "debug",
        "z": "1041ad77.d399b3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 935.1666259765625,
        "y": 852.6665649414062,
        "wires": []
    },
    {
        "id": "cfc6af96.91bac8",
        "type": "json",
        "z": "1041ad77.d399b3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 933.1666259765625,
        "y": 784.6666870117188,
        "wires": [
            [
                "39e63b16.54ae7c"
            ]
        ]
    },
    {
        "id": "f53540dc.6a0038",
        "type": "inject",
        "z": "1041ad77.d399b3",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 117.16665649414062,
        "y": 806.6666870117188,
        "wires": [
            [
                "473fa8a1.fa5f9"
            ]
        ]
    },
    {
        "id": "91827ecc.a738",
        "type": "cloudant out",
        "z": "1041ad77.d399b3",
        "name": "",
        "cloudant": "",
        "database": "test",
        "service": "aletestiot-cloudantNoSQLDB",
        "payonly": false,
        "operation": "insert",
        "x": 588.5,
        "y": 102.44441223144531,
        "wires": []
    },
    {
        "id": "a2c3b0af.3edb88",
        "type": "debug",
        "z": "1041ad77.d399b3",
        "name": "timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 425.000030517578,
        "y": 44.66665649414062,
        "wires": []
    },
    {
        "id": "cdb1e3c6.caea38",
        "type": "change",
        "z": "1041ad77.d399b3",
        "name": "add timestamp",
        "rules": [
            {
                "t": "set",
                "p": "tiempo",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 279.00003051757807,
        "y": 102.6666564941406,
        "wires": [
            [
                "a2c3b0af.3edb88",
                "91827ecc.a738"
            ]
        ]
    },
    {
        "id": "b69d5c96.c2fe08",
        "type": "debug",
        "z": "1041ad77.d399b3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 607.5,
        "y": 160.55555725097656,
        "wires": []
    },
    {
        "id": "473fa8a1.fa5f9",
        "type": "timeout",
        "z": "1041ad77.d399b3",
        "name": "My Timeout",
        "outtopic": "",
        "outsafe": "Safe",
        "outwarning": "Warning",
        "outunsafe": "Unsafe",
        "warning": "30",
        "timer": "60",
        "repeat": false,
        "again": true,
        "x": 337.9999084472656,
        "y": 805.5554809570312,
        "wires": [
            [
                "b87d9a20.206e08"
            ]
        ]
    },
    {
        "id": "71af880f.9e8278",
        "type": "inject",
        "z": "1041ad77.d399b3",
        "name": "Delete first document",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "55 23 * * *",
        "once": false,
        "onceDelay": "",
        "x": 132.22222900390625,
        "y": 675.5555419921875,
        "wires": [
            [
                "a3f67393.58c4d"
            ]
        ]
    },
    {
        "id": "a3f67393.58c4d",
        "type": "cloudant in",
        "z": "1041ad77.d399b3",
        "name": "",
        "cloudant": "",
        "database": "test",
        "service": "aletestiot-cloudantNoSQLDB",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 316.72222900390625,
        "y": 675.5555419921875,
        "wires": [
            [
                "6c27b75f.09577"
            ]
        ]
    },
    {
        "id": "6c27b75f.09577",
        "type": "function",
        "z": "1041ad77.d399b3",
        "name": "",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 446.7222595214844,
        "y": 674.22216796875,
        "wires": [
            [
                "b559ce54.bf712"
            ]
        ]
    },
    {
        "id": "b559ce54.bf712",
        "type": "cloudant out",
        "z": "1041ad77.d399b3",
        "name": "",
        "cloudant": "",
        "database": "test",
        "service": "aletestiot-cloudantNoSQLDB",
        "payonly": false,
        "operation": "delete",
        "x": 581.2222290039062,
        "y": 674.22216796875,
        "wires": []
    },
    {
        "id": "9a27209d.d0c978",
        "type": "inject",
        "z": "1041ad77.d399b3",
        "name": "LIGHT BLUE",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1520.5555419921875,
        "y": 73.33332824707031,
        "wires": [
            [
                "bda7ee53.87b5a8"
            ]
        ]
    },
    {
        "id": "6810217e.4b985",
        "type": "template",
        "z": "1041ad77.d399b3",
        "name": "Cloud/White",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":5,\n    \"bri\":254,\n    \"hue\":55555\n}\n",
        "output": "str",
        "x": 1071.5555419921875,
        "y": 284,
        "wires": [
            [
                "37e863b5.662ea4",
                "34f7b6a.c58e1ca"
            ]
        ]
    },
    {
        "id": "c572809f.e7f0a",
        "type": "inject",
        "z": "1041ad77.d399b3",
        "name": "RED",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1487.22216796875,
        "y": 30.555557250976562,
        "wires": [
            [
                "94f5e49b.d4df58"
            ]
        ]
    },
    {
        "id": "e93773e5.66a1d",
        "type": "inject",
        "z": "1041ad77.d399b3",
        "name": "YELLOW",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1505.5555419921875,
        "y": 262.2222137451172,
        "wires": [
            [
                "5d321acd.8f6794"
            ]
        ]
    },
    {
        "id": "f393eae5.ce4698",
        "type": "inject",
        "z": "1041ad77.d399b3",
        "name": "WHITE RARE",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1517.22216796875,
        "y": 218.88890075683594,
        "wires": [
            [
                "2c9cfb33.6fd51c"
            ]
        ]
    },
    {
        "id": "1e187cca.255633",
        "type": "inject",
        "z": "1041ad77.d399b3",
        "name": "WHITE",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1493.8887939453125,
        "y": 170.55555725097656,
        "wires": [
            [
                "6810217e.4b985"
            ]
        ]
    },
    {
        "id": "6ed6e801.873df8",
        "type": "inject",
        "z": "1041ad77.d399b3",
        "name": "BLUE",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1495.5555419921875,
        "y": 125.55555725097656,
        "wires": [
            [
                "21e7f7e0.8f5fb8"
            ]
        ]
    }
]
