CloudNodes/Lights-Weather-Cloudant.txt
[
    {
        "id": "2d50f47d.ebe034",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8b0602f3.15d78",
        "type": "inject",
        "z": "2d50f47d.ebe034",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "01 00 * * *",
        "once": false,
        "onceDelay": "",
        "x": 501.11114501953125,
        "y": 344.4444274902344,
        "wires": [
            [
                "f4f78973.185758"
            ]
        ]
    },
    {
        "id": "499d2785.43bd78",
        "type": "debug",
        "z": "2d50f47d.ebe034",
        "name": "Full",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 661.1111450195312,
        "y": 304.4444274902344,
        "wires": []
    },
    {
        "id": "f4f78973.185758",
        "type": "weather_insights",
        "z": "2d50f47d.ebe034",
        "name": "",
        "host": "twcservice.eu-gb.mybluemix.net",
        "service": "/observations/timeseries.json?hours=23",
        "geocode": "46.0510788,14.5051298",
        "units": "m",
        "language": "en-US",
        "x": 651.1111450195312,
        "y": 244.44442749023438,
        "wires": [
            [
                "499d2785.43bd78",
                "87718cae.45f2b",
                "8cb607e3.37dde8"
            ]
        ]
    },
    {
        "id": "df49835b.5c357",
        "type": "function",
        "z": "2d50f47d.ebe034",
        "name": "Check",
        "func": "var weather = {payload: msg.observations[parseInt(msg.payload)].wx_phrase};\nreturn weather;",
        "outputs": 1,
        "noerr": 0,
        "x": 841.1111450195312,
        "y": 304.4444274902344,
        "wires": [
            [
                "2f29ec03.669a7c",
                "be23e644.47a8a8"
            ]
        ]
    },
    {
        "id": "2f29ec03.669a7c",
        "type": "debug",
        "z": "2d50f47d.ebe034",
        "name": "comp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1261.1111450195312,
        "y": 146.44442749023438,
        "wires": []
    },
    {
        "id": "be23e644.47a8a8",
        "type": "switch",
        "z": "2d50f47d.ebe034",
        "name": "Options",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Tornado",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Tropical Storm",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Hurricane",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Strong Storms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Thunder and Hail",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Mixed Rain & Hail",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Isolated Thunderstorms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Thunderstorms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Thunderstorms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Rain to Snow Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Rain / Sleet",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Wintry Mix Snow / Sleet",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Freezing Drizzle",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Drizzle",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Freezing Rain",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Light Rain",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Rain",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Thunderstorms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Flurries",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Light Snow",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Blowing / Drifting Snow",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Snow",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Hail",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Sleet",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Snow Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Heavy Snow",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Snow Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Foggy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Haze / Windy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Smoke / Windy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Breezy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Blowing Spray / Windy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Frigid / Ice Crystals",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Cloudy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Mostly Cloudy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Partly Cloudy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Blizzard",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Shallow Fog",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Clear",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Sunny",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Hot",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Fair",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Blowing Dust / Sandstorm",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 45,
        "x": 1226.111083984375,
        "y": 571.111083984375,
        "wires": [
            [
                "8a593753.5d9568"
            ],
            [
                "8a593753.5d9568"
            ],
            [
                "8a593753.5d9568"
            ],
            [
                "8a593753.5d9568"
            ],
            [
                "8a593753.5d9568"
            ],
            [
                "8a593753.5d9568"
            ],
            [
                "8a593753.5d9568"
            ],
            [
                "8a593753.5d9568"
            ],
            [
                "8a593753.5d9568"
            ],
            [
                "19912451.90df04"
            ],
            [
                "19912451.90df04"
            ],
            [
                "19912451.90df04"
            ],
            [
                "19912451.90df04"
            ],
            [
                "19912451.90df04"
            ],
            [
                "19912451.90df04"
            ],
            [
                "19912451.90df04"
            ],
            [
                "19912451.90df04"
            ],
            [
                "19912451.90df04"
            ],
            [
                "19912451.90df04"
            ],
            [
                "e8f03659.ab4cd"
            ],
            [
                "e8f03659.ab4cd"
            ],
            [
                "e8f03659.ab4cd"
            ],
            [
                "e8f03659.ab4cd"
            ],
            [
                "e8f03659.ab4cd"
            ],
            [
                "e8f03659.ab4cd"
            ],
            [
                "e8f03659.ab4cd"
            ],
            [
                "e8f03659.ab4cd"
            ],
            [
                "e8f03659.ab4cd"
            ],
            [
                "b701b609.38f27"
            ],
            [
                "b701b609.38f27"
            ],
            [
                "b701b609.38f27"
            ],
            [
                "b701b609.38f27"
            ],
            [
                "b701b609.38f27"
            ],
            [
                "b701b609.38f27"
            ],
            [
                "b701b609.38f27"
            ],
            [
                "b701b609.38f27"
            ],
            [
                "b701b609.38f27"
            ],
            [
                "b701b609.38f27"
            ],
            [
                "b701b609.38f27"
            ],
            [
                "b701b609.38f27"
            ],
            [
                "13485981.00437e"
            ],
            [
                "13485981.00437e"
            ],
            [
                "600bf6f1.0778e"
            ],
            [
                "600bf6f1.0778e"
            ],
            [
                "600bf6f1.0778e"
            ]
        ]
    },
    {
        "id": "8a593753.5d9568",
        "type": "template",
        "z": "2d50f47d.ebe034",
        "name": "Storm/Yellow",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":6000\n}\n",
        "output": "str",
        "x": 1461.1111450195312,
        "y": 325.44435119628906,
        "wires": [
            [
                "ae297460.b4b088",
                "3614a097.6722d8"
            ]
        ]
    },
    {
        "id": "ae297460.b4b088",
        "type": "debug",
        "z": "2d50f47d.ebe034",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1666.1111450195312,
        "y": 545.4443664550781,
        "wires": []
    },
    {
        "id": "3614a097.6722d8",
        "type": "ibmiot out",
        "z": "2d50f47d.ebe034",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "evt",
        "deviceId": "",
        "deviceType": "",
        "eventCommandType": "ON",
        "format": "json",
        "data": "colores",
        "qos": 0,
        "name": "ON",
        "service": "registered",
        "x": 1856.7777709960938,
        "y": 547.7776794433594,
        "wires": []
    },
    {
        "id": "d2eb46da.53fa18",
        "type": "ibmiot out",
        "z": "2d50f47d.ebe034",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "evt",
        "deviceId": "",
        "deviceType": "",
        "eventCommandType": "OFF",
        "format": "json",
        "data": "info",
        "qos": 0,
        "name": "OFF",
        "service": "registered",
        "x": 827.7778625488281,
        "y": 404.4444580078125,
        "wires": []
    },
    {
        "id": "87718cae.45f2b",
        "type": "function",
        "z": "2d50f47d.ebe034",
        "name": "Time",
        "func": "var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 2; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nvar d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 2;\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = newDate.toLocaleTimeString().substr(0, 25);\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 841.1111450195312,
        "y": 244.44442749023438,
        "wires": [
            [
                "df49835b.5c357",
                "8ff33589.a1f48"
            ]
        ]
    },
    {
        "id": "19912451.90df04",
        "type": "template",
        "z": "2d50f47d.ebe034",
        "name": "Rain/Purple",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":50000\n}\n",
        "output": "str",
        "x": 1457.4443969726562,
        "y": 446.4443664550781,
        "wires": [
            [
                "3614a097.6722d8",
                "ae297460.b4b088"
            ]
        ]
    },
    {
        "id": "e8f03659.ab4cd",
        "type": "template",
        "z": "2d50f47d.ebe034",
        "name": "Snow/Pink",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":60678\n}",
        "output": "str",
        "x": 1453.1943969726562,
        "y": 577.5277404785156,
        "wires": [
            [
                "3614a097.6722d8",
                "ae297460.b4b088"
            ]
        ]
    },
    {
        "id": "b701b609.38f27",
        "type": "template",
        "z": "2d50f47d.ebe034",
        "name": "Fog/Orange",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":3000\n}",
        "output": "str",
        "x": 1463.7777709960938,
        "y": 703.7778015136719,
        "wires": [
            [
                "3614a097.6722d8",
                "ae297460.b4b088"
            ]
        ]
    },
    {
        "id": "13485981.00437e",
        "type": "template",
        "z": "2d50f47d.ebe034",
        "name": "Sunny/Green",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":20000\n}",
        "output": "str",
        "x": 1468.2776489257812,
        "y": 795.7778015136719,
        "wires": [
            [
                "3614a097.6722d8",
                "ae297460.b4b088"
            ]
        ]
    },
    {
        "id": "600bf6f1.0778e",
        "type": "template",
        "z": "2d50f47d.ebe034",
        "name": "Hot/Red",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":65000\n}",
        "output": "str",
        "x": 1456.7776489257812,
        "y": 844.5276794433594,
        "wires": [
            [
                "3614a097.6722d8"
            ]
        ]
    },
    {
        "id": "d044974.4e20ce8",
        "type": "inject",
        "z": "2d50f47d.ebe034",
        "name": "OFF",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 501.11114501953125,
        "y": 404.4444274902344,
        "wires": [
            [
                "250235f8.356bea"
            ]
        ]
    },
    {
        "id": "250235f8.356bea",
        "type": "template",
        "z": "2d50f47d.ebe034",
        "name": "Turn OFF",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":false,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":50000\n}",
        "output": "str",
        "x": 656.1111755371094,
        "y": 404.4444580078125,
        "wires": [
            [
                "d2eb46da.53fa18"
            ]
        ]
    },
    {
        "id": "e1f6afe6.e2e14",
        "type": "ibmiot out",
        "z": "2d50f47d.ebe034",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "",
        "deviceType": "",
        "eventCommandType": "temp",
        "format": "json",
        "data": "info",
        "qos": 0,
        "name": "Sensor",
        "service": "registered",
        "x": 1779.7776489257812,
        "y": 1309.7777862548828,
        "wires": []
    },
    {
        "id": "c011e4e0.a6f878",
        "type": "inject",
        "z": "2d50f47d.ebe034",
        "name": "kill continuous response for node FF-988",
        "topic": "firefly",
        "payload": "\"{\\\"cmd\\\":\\\"9882\\\"}\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 654.7777709960938,
        "y": 1303.1111145019531,
        "wires": [
            [
                "ea3856bc.c67a"
            ]
        ]
    },
    {
        "id": "ea3856bc.c67a",
        "type": "json",
        "z": "2d50f47d.ebe034",
        "name": "",
        "x": 964.7777709960938,
        "y": 1303.1111145019531,
        "wires": [
            [
                "e1f6afe6.e2e14"
            ]
        ]
    },
    {
        "id": "9d3738b4.caabf8",
        "type": "switch",
        "z": "2d50f47d.ebe034",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Unsafe",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Warning",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1424.7777709960938,
        "y": 1023.1111145019531,
        "wires": [
            [
                "f22c2316.874af8"
            ],
            [
                "9051ffa7.1790f"
            ]
        ]
    },
    {
        "id": "9051ffa7.1790f",
        "type": "change",
        "z": "2d50f47d.ebe034",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"{\\\"cmd\\\":\\\"9881315\\\"}\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1354.7777709960938,
        "y": 1143.1111145019531,
        "wires": [
            [
                "d7433359.03a6f",
                "253c034f.e1ea34"
            ]
        ]
    },
    {
        "id": "d7433359.03a6f",
        "type": "debug",
        "z": "2d50f47d.ebe034",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1434.7777709960938,
        "y": 1243.1110534667969,
        "wires": []
    },
    {
        "id": "253c034f.e1ea34",
        "type": "json",
        "z": "2d50f47d.ebe034",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1524.7777709960938,
        "y": 1143.1111145019531,
        "wires": [
            [
                "e1f6afe6.e2e14"
            ]
        ]
    },
    {
        "id": "d7146303.dbe58",
        "type": "inject",
        "z": "2d50f47d.ebe034",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 994.7777709960938,
        "y": 1163.1111145019531,
        "wires": [
            [
                "3de3228c.369306"
            ]
        ]
    },
    {
        "id": "5bb1a217.621104",
        "type": "cloudant out",
        "z": "2d50f47d.ebe034",
        "name": "",
        "cloudant": "",
        "database": "",
        "service": "",
        "payonly": false,
        "operation": "insert",
        "x": 1066.27783203125,
        "y": 138.55551147460938,
        "wires": []
    },
    {
        "id": "72e67f4.872d4",
        "type": "debug",
        "z": "2d50f47d.ebe034",
        "name": "timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 836.1111755371094,
        "y": 129.111083984375,
        "wires": []
    },
    {
        "id": "8cb607e3.37dde8",
        "type": "change",
        "z": "2d50f47d.ebe034",
        "name": "add timestamp",
        "rules": [
            {
                "t": "set",
                "p": "tiempo",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690.1111755371094,
        "y": 187.111083984375,
        "wires": [
            [
                "72e67f4.872d4",
                "5bb1a217.621104"
            ]
        ]
    },
    {
        "id": "8ff33589.a1f48",
        "type": "debug",
        "z": "2d50f47d.ebe034",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1010.27783203125,
        "y": 191.6666717529297,
        "wires": []
    },
    {
        "id": "f22c2316.874af8",
        "type": "cloudant in",
        "z": "2d50f47d.ebe034",
        "name": "",
        "cloudant": "",
        "database": "",
        "service": "",
        "search": "_all_",
        "design": "0",
        "index": "2bf4f485379bee849db283dabfb377ee",
        "x": 650.111083984375,
        "y": 509.11102294921875,
        "wires": [
            [
                "e3d04946.357908",
                "9a1d2076.35fdd8"
            ]
        ]
    },
    {
        "id": "9c0a64e5.24db18",
        "type": "inject",
        "z": "2d50f47d.ebe034",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 507.7777404785156,
        "y": 509.3333282470703,
        "wires": [
            [
                "f22c2316.874af8"
            ]
        ]
    },
    {
        "id": "26924578.1e559a",
        "type": "function",
        "z": "2d50f47d.ebe034",
        "name": "Recorrer json",
        "func": "var hora = msg.eltiempo.slice(11,13);\nmsg.eltiempo = hora;\n//return msg;\n\n//msg.payload[0].observations[(parseInt(msg.eltiempo))];\n    \nreturn {payload: msg.payload[0].observations[(parseInt(msg.eltiempo))]};\n//return payload[0].observations[parseInt(msg.eltiempo).wx_phrase];",
        "outputs": 1,
        "noerr": 0,
        "x": 797.2777709960938,
        "y": 568.3333129882812,
        "wires": [
            [
                "e1cbd6e5.83b95",
                "57424ee6.cfbe48"
            ]
        ]
    },
    {
        "id": "57424ee6.cfbe48",
        "type": "function",
        "z": "2d50f47d.ebe034",
        "name": "Check",
        "func": "var weather = {payload: msg.payload.wx_phrase};\nreturn weather;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 992.8334655761719,
        "y": 568.9998168945312,
        "wires": [
            [
                "e91834a1.215058",
                "be23e644.47a8a8"
            ]
        ]
    },
    {
        "id": "e3d04946.357908",
        "type": "moment",
        "z": "2d50f47d.ebe034",
        "name": "",
        "topic": "",
        "input": "tiempo",
        "inputType": "msg",
        "inTz": "CET",
        "adjAmount": "2",
        "adjType": "hours",
        "adjDir": "add",
        "format": "",
        "locale": "en_US",
        "output": "eltiempo",
        "outputType": "msg",
        "outTz": "CET",
        "x": 568.8333129882812,
        "y": 569.5555419921875,
        "wires": [
            [
                "26924578.1e559a",
                "452b2530.b514fc"
            ]
        ]
    },
    {
        "id": "e1cbd6e5.83b95",
        "type": "debug",
        "z": "2d50f47d.ebe034",
        "name": "Recorrer json",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 799.4999389648438,
        "y": 637.4444580078125,
        "wires": []
    },
    {
        "id": "9a1d2076.35fdd8",
        "type": "debug",
        "z": "2d50f47d.ebe034",
        "name": "BD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 602.111083984375,
        "y": 460.44427490234375,
        "wires": []
    },
    {
        "id": "452b2530.b514fc",
        "type": "debug",
        "z": "2d50f47d.ebe034",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 562.4443969726562,
        "y": 628.7777099609375,
        "wires": []
    },
    {
        "id": "e91834a1.215058",
        "type": "debug",
        "z": "2d50f47d.ebe034",
        "name": "check",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 987.7776794433594,
        "y": 632.4443969726562,
        "wires": []
    },
    {
        "id": "3de3228c.369306",
        "type": "timeout",
        "z": "2d50f47d.ebe034",
        "name": "My Timeout",
        "outtopic": "",
        "outsafe": "Safe",
        "outwarning": "Warning",
        "outunsafe": "Unsafe",
        "warning": "5",
        "timer": "30",
        "repeat": false,
        "again": true,
        "x": 1223.611083984375,
        "y": 1020,
        "wires": [
            [
                "9d3738b4.caabf8"
            ]
        ]
    },
    {
        "id": "8447209a.eac5c",
        "type": "inject",
        "z": "2d50f47d.ebe034",
        "name": "Delete first document",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "55 23 * * *",
        "once": false,
        "onceDelay": "",
        "x": 543.3333740234375,
        "y": 759.9999694824219,
        "wires": [
            [
                "b3c0c6a.72e1bb8"
            ]
        ]
    },
    {
        "id": "b3c0c6a.72e1bb8",
        "type": "cloudant in",
        "z": "2d50f47d.ebe034",
        "name": "",
        "cloudant": "",
        "database": "",
        "service": "",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 737.8333740234375,
        "y": 759.9999694824219,
        "wires": [
            [
                "35dd2721.7ab83"
            ]
        ]
    },
    {
        "id": "35dd2721.7ab83",
        "type": "function",
        "z": "2d50f47d.ebe034",
        "name": "",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 737.8334045410156,
        "y": 826.6666259765625,
        "wires": [
            [
                "1d16f06f.3fe5c8"
            ]
        ]
    },
    {
        "id": "1d16f06f.3fe5c8",
        "type": "cloudant out",
        "z": "2d50f47d.ebe034",
        "name": "",
        "cloudant": "",
        "database": "",
        "service": "",
        "payonly": false,
        "operation": "delete",
        "x": 882.3334045410156,
        "y": 826.6665954589844,
        "wires": []
    }
]
