CloudNodes/Lights-Weather-Cloudant.txt
[
    {
        "id": "1c53fb8a.7b0a9c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9243823a.cd15e8",
        "type": "inject",
        "z": "1c53fb8a.7b0a9c",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "01 00 * * *",
        "once": false,
        "onceDelay": "",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "78137f4a.d5852"
            ]
        ]
    },
    {
        "id": "dcb22191.1f38a",
        "type": "debug",
        "z": "1c53fb8a.7b0a9c",
        "name": "Full",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 270,
        "y": 240,
        "wires": []
    },
    {
        "id": "78137f4a.d5852",
        "type": "weather_insights",
        "z": "1c53fb8a.7b0a9c",
        "name": "Weather",
        "host": "twcservice.eu-gb.mybluemix.net",
        "service": "/observations/timeseries.json?hours=23",
        "geocode": "46.0510788,14.5051298",
        "units": "m",
        "language": "en-US",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "dcb22191.1f38a",
                "7a09b8e1.bcf498",
                "de0257c.59e0d28"
            ]
        ]
    },
    {
        "id": "63f20888.0ea16",
        "type": "function",
        "z": "1c53fb8a.7b0a9c",
        "name": "Check",
        "func": "var weather = {payload: msg.observations[parseInt(msg.payload)].wx_phrase};\nreturn weather;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "bea1ab82.c44b5",
                "1650dee6.be6e51"
            ]
        ]
    },
    {
        "id": "bea1ab82.c44b5",
        "type": "debug",
        "z": "1c53fb8a.7b0a9c",
        "name": "comp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 628.3333740234375,
        "y": 240.33335876464844,
        "wires": []
    },
    {
        "id": "1650dee6.be6e51",
        "type": "switch",
        "z": "1c53fb8a.7b0a9c",
        "name": "Options",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Tornado",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Tropical Storm",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Hurricane",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Strong Storms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Thunder and Hail",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Mixed Rain & Hail",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Isolated Thunderstorms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Thunderstorms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Thunderstorms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Rain to Snow Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Rain / Sleet",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Wintry Mix Snow / Sleet",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Freezing Drizzle",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Drizzle",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Freezing Rain",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Light Rain",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Rain",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Thunderstorms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Flurries",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Light Snow",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Blowing / Drifting Snow",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Snow",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Hail",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Sleet",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Snow Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Heavy Snow",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Snow Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Foggy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Haze / Windy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Smoke / Windy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Breezy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Blowing Spray / Windy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Frigid / Ice Crystals",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Cloudy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Mostly Cloudy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Partly Cloudy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Blizzard",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Shallow Fog",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Clear",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Sunny",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Hot",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Fair",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Blowing Dust / Sandstorm",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Showers in the Vicinity",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 46,
        "x": 828.3331298828125,
        "y": 408.3333435058594,
        "wires": [
            [
                "61b6b31e.4ff874"
            ],
            [
                "61b6b31e.4ff874"
            ],
            [
                "61b6b31e.4ff874"
            ],
            [
                "61b6b31e.4ff874"
            ],
            [
                "61b6b31e.4ff874"
            ],
            [
                "61b6b31e.4ff874"
            ],
            [
                "61b6b31e.4ff874"
            ],
            [
                "61b6b31e.4ff874"
            ],
            [
                "61b6b31e.4ff874"
            ],
            [
                "5afd3946.57f0e8"
            ],
            [
                "5afd3946.57f0e8"
            ],
            [
                "5afd3946.57f0e8"
            ],
            [
                "5afd3946.57f0e8"
            ],
            [
                "5afd3946.57f0e8"
            ],
            [
                "5afd3946.57f0e8"
            ],
            [
                "5afd3946.57f0e8"
            ],
            [
                "5afd3946.57f0e8"
            ],
            [
                "5afd3946.57f0e8"
            ],
            [
                "5afd3946.57f0e8"
            ],
            [
                "3160c772.ebf91"
            ],
            [
                "3160c772.ebf91"
            ],
            [
                "3160c772.ebf91"
            ],
            [
                "3160c772.ebf91"
            ],
            [
                "3160c772.ebf91"
            ],
            [
                "3160c772.ebf91"
            ],
            [
                "3160c772.ebf91"
            ],
            [
                "3160c772.ebf91"
            ],
            [
                "3160c772.ebf91"
            ],
            [
                "b1417fd8.a88ae8"
            ],
            [
                "b1417fd8.a88ae8"
            ],
            [
                "b1417fd8.a88ae8"
            ],
            [
                "b1417fd8.a88ae8"
            ],
            [
                "b1417fd8.a88ae8"
            ],
            [
                "b1417fd8.a88ae8"
            ],
            [
                "cc47e643.da1dd"
            ],
            [
                "cc47e643.da1dd"
            ],
            [
                "cc47e643.da1dd"
            ],
            [
                "b1417fd8.a88ae8"
            ],
            [
                "b1417fd8.a88ae8"
            ],
            [
                "b1417fd8.a88ae8"
            ],
            [
                "25377986.6d93f6"
            ],
            [
                "25377986.6d93f6"
            ],
            [
                "25377986.6d93f6"
            ],
            [
                "25377986.6d93f6"
            ],
            [
                "25377986.6d93f6"
            ],
            [
                "5afd3946.57f0e8"
            ]
        ]
    },
    {
        "id": "61b6b31e.4ff874",
        "type": "template",
        "z": "1c53fb8a.7b0a9c",
        "name": "Storm/Red",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":65000\n}\n",
        "output": "str",
        "x": 1080,
        "y": 107.66659545898438,
        "wires": [
            [
                "d0b3f6ae.feaf7",
                "ff6cd748.2000c8"
            ]
        ]
    },
    {
        "id": "d0b3f6ae.feaf7",
        "type": "debug",
        "z": "1c53fb8a.7b0a9c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1321.6666259765625,
        "y": 387.66656494140625,
        "wires": []
    },
    {
        "id": "ff6cd748.2000c8",
        "type": "ibmiot out",
        "z": "1c53fb8a.7b0a9c",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "evt",
        "deviceId": "rpi2",
        "deviceType": "raspberry",
        "eventCommandType": "ON",
        "format": "json",
        "data": "colores",
        "qos": 0,
        "name": "ON",
        "service": "registered",
        "x": 1550.6666259765625,
        "y": 386.6666259765625,
        "wires": []
    },
    {
        "id": "d441ea86.00eef8",
        "type": "ibmiot out",
        "z": "1c53fb8a.7b0a9c",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "evt",
        "deviceId": "rpi2",
        "deviceType": "raspberry",
        "eventCommandType": "OFF",
        "format": "json",
        "data": "info",
        "qos": 0,
        "name": "OFF",
        "service": "registered",
        "x": 436.6667175292969,
        "y": 340.0000305175781,
        "wires": []
    },
    {
        "id": "7a09b8e1.bcf498",
        "type": "function",
        "z": "1c53fb8a.7b0a9c",
        "name": "Time",
        "func": "var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 2; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nvar d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 2;\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = newDate.toLocaleTimeString().substr(0, 25);\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 180,
        "wires": [
            [
                "63f20888.0ea16",
                "96e0331d.c108a"
            ]
        ]
    },
    {
        "id": "5afd3946.57f0e8",
        "type": "template",
        "z": "1c53fb8a.7b0a9c",
        "name": "Rain/Blue",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"bri\": 254,\n\t\"sat\": 254,\n\t\"hue\": 46543\n}\n",
        "output": "str",
        "x": 1076.3331298828125,
        "y": 216.99993896484375,
        "wires": [
            [
                "ff6cd748.2000c8",
                "d0b3f6ae.feaf7"
            ]
        ]
    },
    {
        "id": "3160c772.ebf91",
        "type": "template",
        "z": "1c53fb8a.7b0a9c",
        "name": "Snow/Light Blue",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":200,\n    \"bri\":254,\n    \"hue\":40000\n}",
        "output": "str",
        "x": 1088.7498779296875,
        "y": 161.41671752929688,
        "wires": [
            [
                "ff6cd748.2000c8",
                "d0b3f6ae.feaf7"
            ]
        ]
    },
    {
        "id": "b1417fd8.a88ae8",
        "type": "template",
        "z": "1c53fb8a.7b0a9c",
        "name": "Fog/White",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":30,\n    \"bri\":200,\n    \"hue\":3000\n}",
        "output": "str",
        "x": 1092.333251953125,
        "y": 398,
        "wires": [
            [
                "ff6cd748.2000c8",
                "d0b3f6ae.feaf7"
            ]
        ]
    },
    {
        "id": "25377986.6d93f6",
        "type": "template",
        "z": "1c53fb8a.7b0a9c",
        "name": "Sunny/Yellow",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"bri\": 254,\n    \"sat\": 254,\n\t\"hue\": 10000\n\t\n}",
        "output": "str",
        "x": 1105.4998779296875,
        "y": 648.0001220703125,
        "wires": [
            [
                "ff6cd748.2000c8",
                "d0b3f6ae.feaf7"
            ]
        ]
    },
    {
        "id": "2045e797.3645c",
        "type": "inject",
        "z": "1c53fb8a.7b0a9c",
        "name": "OFF",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "ba01dbb1.acc7b"
            ]
        ]
    },
    {
        "id": "ba01dbb1.acc7b",
        "type": "template",
        "z": "1c53fb8a.7b0a9c",
        "name": "Turn OFF",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":false,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":50000\n}",
        "output": "str",
        "x": 265.0000305175781,
        "y": 340.0000305175781,
        "wires": [
            [
                "d441ea86.00eef8"
            ]
        ]
    },
    {
        "id": "64ebf48b.54a224",
        "type": "ibmiot out",
        "z": "1c53fb8a.7b0a9c",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "rpi2",
        "deviceType": "raspberry",
        "eventCommandType": "temp",
        "format": "json",
        "data": "info",
        "qos": 0,
        "name": "Sensor",
        "service": "registered",
        "x": 1258.499755859375,
        "y": 914.6666870117188,
        "wires": []
    },
    {
        "id": "8f97816d.e87ca8",
        "type": "inject",
        "z": "1c53fb8a.7b0a9c",
        "name": "kill continuous response for node FF-988",
        "topic": "firefly",
        "payload": "\"{\\\"cmd\\\":\\\"9882\\\"}\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 237.1666259765625,
        "y": 916.6666870117188,
        "wires": [
            [
                "80d82312.ac2ef8"
            ]
        ]
    },
    {
        "id": "80d82312.ac2ef8",
        "type": "json",
        "z": "1c53fb8a.7b0a9c",
        "name": "",
        "x": 617.1666259765625,
        "y": 918.6666870117188,
        "wires": [
            [
                "64ebf48b.54a224"
            ]
        ]
    },
    {
        "id": "2aae6da9.f19ac2",
        "type": "switch",
        "z": "1c53fb8a.7b0a9c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Unsafe",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Warning",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 531.1666259765625,
        "y": 824.6666259765625,
        "wires": [
            [],
            [
                "c135797d.c7271"
            ]
        ]
    },
    {
        "id": "c135797d.c7271",
        "type": "change",
        "z": "1c53fb8a.7b0a9c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"{\\\"cmd\\\":\\\"9881305\\\"}\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 753.1666259765625,
        "y": 830.6666870117188,
        "wires": [
            [
                "c1bb4e41.9c36e8",
                "c190faf7.8e9ed8"
            ]
        ]
    },
    {
        "id": "c1bb4e41.9c36e8",
        "type": "debug",
        "z": "1c53fb8a.7b0a9c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 955.1666259765625,
        "y": 872.6665649414062,
        "wires": []
    },
    {
        "id": "c190faf7.8e9ed8",
        "type": "json",
        "z": "1c53fb8a.7b0a9c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 953.1666259765625,
        "y": 804.6666870117188,
        "wires": [
            [
                "64ebf48b.54a224"
            ]
        ]
    },
    {
        "id": "e2ce3247.d89fe",
        "type": "inject",
        "z": "1c53fb8a.7b0a9c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 137.16665649414062,
        "y": 826.6666870117188,
        "wires": [
            [
                "22e027b9.435d9"
            ]
        ]
    },
    {
        "id": "a576e295.c46fb8",
        "type": "cloudant out",
        "z": "1c53fb8a.7b0a9c",
        "name": "",
        "cloudant": "",
        "database": "test",
        "service": "iotvisuallj-cloudantNoSQLDB",
        "payonly": false,
        "operation": "insert",
        "x": 608.5,
        "y": 122.44441223144531,
        "wires": []
    },
    {
        "id": "e876fb64.f46df",
        "type": "debug",
        "z": "1c53fb8a.7b0a9c",
        "name": "timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 445.0000305175781,
        "y": 64.66665649414062,
        "wires": []
    },
    {
        "id": "de0257c.59e0d28",
        "type": "change",
        "z": "1c53fb8a.7b0a9c",
        "name": "add timestamp",
        "rules": [
            {
                "t": "set",
                "p": "tiempo",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 299.0000305175781,
        "y": 122.6666564941406,
        "wires": [
            [
                "e876fb64.f46df",
                "a576e295.c46fb8"
            ]
        ]
    },
    {
        "id": "96e0331d.c108a",
        "type": "debug",
        "z": "1c53fb8a.7b0a9c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 627.5,
        "y": 180.55555725097656,
        "wires": []
    },
    {
        "id": "f2741dfe.557a1",
        "type": "inject",
        "z": "1c53fb8a.7b0a9c",
        "name": "Delete first document",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "55 23 * * *",
        "once": false,
        "onceDelay": "",
        "x": 158.888916015625,
        "y": 418.888916015625,
        "wires": [
            [
                "ba18840.4a8b2"
            ]
        ]
    },
    {
        "id": "ba18840.4a8b2",
        "type": "cloudant in",
        "z": "1c53fb8a.7b0a9c",
        "name": "",
        "cloudant": "",
        "database": "test",
        "service": "iotvisuallj-cloudantNoSQLDB",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 343.388916015625,
        "y": 418.888916015625,
        "wires": [
            [
                "17e4fe8f.cb8949"
            ]
        ]
    },
    {
        "id": "17e4fe8f.cb8949",
        "type": "function",
        "z": "1c53fb8a.7b0a9c",
        "name": "",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 473.3889465332031,
        "y": 417.5555419921875,
        "wires": [
            [
                "adb1502a.d7234"
            ]
        ]
    },
    {
        "id": "adb1502a.d7234",
        "type": "cloudant out",
        "z": "1c53fb8a.7b0a9c",
        "name": "",
        "cloudant": "",
        "database": "test",
        "service": "iotvisuallj-cloudantNoSQLDB",
        "payonly": false,
        "operation": "delete",
        "x": 607.888916015625,
        "y": 417.5555419921875,
        "wires": []
    },
    {
        "id": "30913a3a.aae6d6",
        "type": "inject",
        "z": "1c53fb8a.7b0a9c",
        "name": "LIGHT BLUE",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1540.5555419921875,
        "y": 93.33332824707031,
        "wires": [
            [
                "3160c772.ebf91"
            ]
        ]
    },
    {
        "id": "cc47e643.da1dd",
        "type": "template",
        "z": "1c53fb8a.7b0a9c",
        "name": "Cloud/White",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":5,\n    \"bri\":254,\n    \"hue\":55555\n}\n",
        "output": "str",
        "x": 1091.5555419921875,
        "y": 304,
        "wires": [
            [
                "ff6cd748.2000c8",
                "d0b3f6ae.feaf7"
            ]
        ]
    },
    {
        "id": "a6896b02.a64fd8",
        "type": "inject",
        "z": "1c53fb8a.7b0a9c",
        "name": "RED",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1507.22216796875,
        "y": 50.55555725097656,
        "wires": [
            [
                "61b6b31e.4ff874"
            ]
        ]
    },
    {
        "id": "393f7b13.89415c",
        "type": "inject",
        "z": "1c53fb8a.7b0a9c",
        "name": "YELLOW",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1525.5555419921875,
        "y": 282.2222137451172,
        "wires": [
            [
                "25377986.6d93f6"
            ]
        ]
    },
    {
        "id": "115bd32b.655f3d",
        "type": "inject",
        "z": "1c53fb8a.7b0a9c",
        "name": "WHITE RARE",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1537.22216796875,
        "y": 238.88890075683594,
        "wires": [
            [
                "b1417fd8.a88ae8"
            ]
        ]
    },
    {
        "id": "52ca94b1.dc4fcc",
        "type": "inject",
        "z": "1c53fb8a.7b0a9c",
        "name": "WHITE",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1513.8887939453125,
        "y": 190.55555725097656,
        "wires": [
            [
                "cc47e643.da1dd"
            ]
        ]
    },
    {
        "id": "c82a4d44.e502f",
        "type": "inject",
        "z": "1c53fb8a.7b0a9c",
        "name": "BLUE",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1515.5555419921875,
        "y": 145.55555725097656,
        "wires": [
            [
                "5afd3946.57f0e8"
            ]
        ]
    },
    {
        "id": "22e027b9.435d9",
        "type": "timeout",
        "z": "1c53fb8a.7b0a9c",
        "name": "My Timeout",
        "outtopic": "",
        "outsafe": "Safe",
        "outwarning": "Warning",
        "outunsafe": "Unsafe",
        "warning": "10",
        "timer": "15",
        "repeat": false,
        "again": false,
        "x": 315.8333587646484,
        "y": 830.5555470784504,
        "wires": [
            [
                "2aae6da9.f19ac2"
            ]
        ]
    },
    {
        "id": "ca97ea3e.3e5cd",
        "type": "http in",
        "z": "1c53fb8a.7b0a9c",
        "name": "",
        "url": "/empezamos",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 133.00003051757812,
        "y": 784.6665649414062,
        "wires": [
            [
                "22e027b9.435d9"
            ]
        ]
    }
]
