ControlHueLights/Weather Service and Lights
[
    {
        "id": "d2a02de7.187908",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d385f1b5.852a88",
        "type": "inject",
        "z": "d2a02de7.187908",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "01 00 * * *",
        "once": false,
        "onceDelay": "",
        "x": 255.2381134033203,
        "y": 236.76193237304688,
        "wires": [
            [
                "8e9f4c8e.411d58"
            ]
        ]
    },
    {
        "id": "892b899d.59583",
        "type": "debug",
        "z": "d2a02de7.187908",
        "name": "Full",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 415.2381134033203,
        "y": 196.76193237304688,
        "wires": []
    },
    {
        "id": "8e9f4c8e.411d58",
        "type": "weather_insights",
        "z": "d2a02de7.187908",
        "name": "",
        "host": "twcservice.eu-gb.mybluemix.net",
        "service": "/observations/timeseries.json?hours=23",
        "geocode": "46.0510788,14.5051298",
        "units": "m",
        "language": "en-US",
        "x": 405.2381134033203,
        "y": 136.76193237304688,
        "wires": [
            [
                "892b899d.59583",
                "e554b5ad.e1ade",
                "91b66c2e.31561"
            ]
        ]
    },
    {
        "id": "d044ea7e.d24008",
        "type": "function",
        "z": "d2a02de7.187908",
        "name": "Check",
        "func": "var weather = {payload: msg.observations[parseInt(msg.payload)].wx_phrase};\nreturn weather;",
        "outputs": 1,
        "noerr": 0,
        "x": 595.2381134033203,
        "y": 196.76193237304688,
        "wires": [
            [
                "f9c7966d.38b798",
                "eba9854e.65f07"
            ]
        ]
    },
    {
        "id": "f9c7966d.38b798",
        "type": "debug",
        "z": "d2a02de7.187908",
        "name": "comp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1015.2381134033203,
        "y": 38.761932373046875,
        "wires": []
    },
    {
        "id": "eba9854e.65f07",
        "type": "switch",
        "z": "d2a02de7.187908",
        "name": "Options",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Tornado",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Tropical Storm",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Hurricane",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Strong Storms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Thunder and Hail",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Mixed Rain & Hail",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Isolated Thunderstorms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Thunderstorms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Thunderstorms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Rain to Snow Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Rain / Sleet",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Wintry Mix Snow / Sleet",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Freezing Drizzle",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Drizzle",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Freezing Rain",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Light Rain",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Rain",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Thunderstorms",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Flurries",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Light Snow",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Blowing / Drifting Snow",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Snow",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Hail",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Sleet",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Snow Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Heavy Snow",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Snow Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Foggy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Haze / Windy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Smoke / Windy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Breezy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Blowing Spray / Windy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Frigid / Ice Crystals",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Cloudy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Mostly Cloudy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Partly Cloudy",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Blizzard",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Scattered Showers",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Shallow Fog",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Clear",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Sunny",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Hot",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Fair",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Blowing Dust / Sandstorm",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 45,
        "x": 980.2380523681641,
        "y": 463.4285888671875,
        "wires": [
            [
                "3649bce0.354304"
            ],
            [
                "3649bce0.354304"
            ],
            [
                "3649bce0.354304"
            ],
            [
                "3649bce0.354304"
            ],
            [
                "3649bce0.354304"
            ],
            [
                "3649bce0.354304"
            ],
            [
                "3649bce0.354304"
            ],
            [
                "3649bce0.354304"
            ],
            [
                "3649bce0.354304"
            ],
            [
                "e77ef2f3.21e468"
            ],
            [
                "e77ef2f3.21e468"
            ],
            [
                "e77ef2f3.21e468"
            ],
            [
                "e77ef2f3.21e468"
            ],
            [
                "e77ef2f3.21e468"
            ],
            [
                "e77ef2f3.21e468"
            ],
            [
                "e77ef2f3.21e468"
            ],
            [
                "e77ef2f3.21e468"
            ],
            [
                "e77ef2f3.21e468"
            ],
            [
                "e77ef2f3.21e468"
            ],
            [
                "b8870ce9.899858"
            ],
            [
                "b8870ce9.899858"
            ],
            [
                "b8870ce9.899858"
            ],
            [
                "b8870ce9.899858"
            ],
            [
                "b8870ce9.899858"
            ],
            [
                "b8870ce9.899858"
            ],
            [
                "b8870ce9.899858"
            ],
            [
                "b8870ce9.899858"
            ],
            [
                "b8870ce9.899858"
            ],
            [
                "53ac2bba.8479cc"
            ],
            [
                "53ac2bba.8479cc"
            ],
            [
                "53ac2bba.8479cc"
            ],
            [
                "53ac2bba.8479cc"
            ],
            [
                "53ac2bba.8479cc"
            ],
            [
                "53ac2bba.8479cc"
            ],
            [
                "53ac2bba.8479cc"
            ],
            [
                "53ac2bba.8479cc"
            ],
            [
                "53ac2bba.8479cc"
            ],
            [
                "53ac2bba.8479cc"
            ],
            [
                "53ac2bba.8479cc"
            ],
            [
                "53ac2bba.8479cc"
            ],
            [
                "24211e3c.879472"
            ],
            [
                "24211e3c.879472"
            ],
            [
                "af0604e0.3ca2f8"
            ],
            [
                "af0604e0.3ca2f8"
            ],
            [
                "af0604e0.3ca2f8"
            ]
        ]
    },
    {
        "id": "3649bce0.354304",
        "type": "template",
        "z": "d2a02de7.187908",
        "name": "Storm/Yellow",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":6000\n}\n",
        "output": "str",
        "x": 1259.2381134033203,
        "y": 215.76185607910156,
        "wires": [
            [
                "ecb95d51.35d078",
                "28eaea1b.23e6ee"
            ]
        ]
    },
    {
        "id": "ecb95d51.35d078",
        "type": "debug",
        "z": "d2a02de7.187908",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1540.2381134033203,
        "y": 401.7618713378906,
        "wires": []
    },
    {
        "id": "28eaea1b.23e6ee",
        "type": "ibmiot out",
        "z": "d2a02de7.187908",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "evt",
        "deviceId": "rpi1",
        "deviceType": "raspberry",
        "eventCommandType": "ON",
        "format": "json",
        "data": "colores",
        "qos": 0,
        "name": "ON",
        "service": "registered",
        "x": 1856.9047393798828,
        "y": 400.0951843261719,
        "wires": []
    },
    {
        "id": "dfe2e1bd.1a8048",
        "type": "ibmiot out",
        "z": "d2a02de7.187908",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "evt",
        "deviceId": "rpi1",
        "deviceType": "raspberry",
        "eventCommandType": "OFF",
        "format": "json",
        "data": "info",
        "qos": 0,
        "name": "OFF",
        "service": "registered",
        "x": 581.9048309326172,
        "y": 296.761962890625,
        "wires": []
    },
    {
        "id": "e554b5ad.e1ade",
        "type": "function",
        "z": "d2a02de7.187908",
        "name": "Time",
        "func": "var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 2; // This is the offset for UTC+3, in your case (UTC+1) should be 1\n\nnewDate = new Date(utc + (3600000*offset));\n\nvar d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 2;\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = newDate.toLocaleTimeString().substr(0, 25);\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 595.2381134033203,
        "y": 136.76193237304688,
        "wires": [
            [
                "d044ea7e.d24008",
                "c239f50e.70e048"
            ]
        ]
    },
    {
        "id": "e77ef2f3.21e468",
        "type": "template",
        "z": "d2a02de7.187908",
        "name": "Rain/Purple",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":50000\n}\n",
        "output": "str",
        "x": 1253.5713653564453,
        "y": 338.7618408203125,
        "wires": [
            [
                "28eaea1b.23e6ee",
                "ecb95d51.35d078"
            ]
        ]
    },
    {
        "id": "b8870ce9.899858",
        "type": "template",
        "z": "d2a02de7.187908",
        "name": "Snow/Pink",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":60678\n}",
        "output": "str",
        "x": 1251.3213653564453,
        "y": 467.84521484375,
        "wires": [
            [
                "28eaea1b.23e6ee",
                "ecb95d51.35d078"
            ]
        ]
    },
    {
        "id": "53ac2bba.8479cc",
        "type": "template",
        "z": "d2a02de7.187908",
        "name": "Fog/Orange",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":3000\n}",
        "output": "str",
        "x": 1261.9047393798828,
        "y": 596.0952758789062,
        "wires": [
            [
                "28eaea1b.23e6ee",
                "ecb95d51.35d078"
            ]
        ]
    },
    {
        "id": "24211e3c.879472",
        "type": "template",
        "z": "d2a02de7.187908",
        "name": "Sunny/Green",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":20000\n}",
        "output": "str",
        "x": 1264.4046783447266,
        "y": 690.0953369140625,
        "wires": [
            [
                "28eaea1b.23e6ee",
                "ecb95d51.35d078"
            ]
        ]
    },
    {
        "id": "af0604e0.3ca2f8",
        "type": "template",
        "z": "d2a02de7.187908",
        "name": "Hot/Red",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":true,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":65000\n}",
        "output": "str",
        "x": 1256.9046783447266,
        "y": 728.84521484375,
        "wires": [
            [
                "28eaea1b.23e6ee"
            ]
        ]
    },
    {
        "id": "ac902c60.725f88",
        "type": "inject",
        "z": "d2a02de7.187908",
        "name": "OFF",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 255.2381134033203,
        "y": 296.7619323730469,
        "wires": [
            [
                "6f0cf5a1.c14e0c"
            ]
        ]
    },
    {
        "id": "6f0cf5a1.c14e0c",
        "type": "template",
        "z": "d2a02de7.187908",
        "name": "Turn OFF",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"on\":false,\n    \"sat\":254,\n    \"bri\":254,\n    \"hue\":50000\n}",
        "output": "str",
        "x": 410.23814392089844,
        "y": 296.761962890625,
        "wires": [
            [
                "dfe2e1bd.1a8048"
            ]
        ]
    },
    {
        "id": "6fe801c3.109ee",
        "type": "ibmiot out",
        "z": "d2a02de7.187908",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "rpi1",
        "deviceType": "raspberry",
        "eventCommandType": "temp",
        "format": "json",
        "data": "info",
        "qos": 0,
        "name": "Sensor",
        "service": "registered",
        "x": 1533.9046173095703,
        "y": 1202.0952911376953,
        "wires": []
    },
    {
        "id": "5c07559c.8568c4",
        "type": "inject",
        "z": "d2a02de7.187908",
        "name": "kill continuous response for node FF-988",
        "topic": "firefly",
        "payload": "\"{\\\"cmd\\\":\\\"9882\\\"}\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 408.9047393798828,
        "y": 1195.4286193847656,
        "wires": [
            [
                "a9cbe481.5993b"
            ]
        ]
    },
    {
        "id": "a9cbe481.5993b",
        "type": "json",
        "z": "d2a02de7.187908",
        "name": "",
        "x": 718.9047393798828,
        "y": 1195.4286193847656,
        "wires": [
            [
                "6fe801c3.109ee"
            ]
        ]
    },
    {
        "id": "18df0518.bedfdb",
        "type": "switch",
        "z": "d2a02de7.187908",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Unsafe",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Warning",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1178.9047393798828,
        "y": 915.4286193847656,
        "wires": [
            [
                "978e3f0f.6c8808"
            ],
            [
                "af26966d.62829"
            ]
        ]
    },
    {
        "id": "af26966d.62829",
        "type": "change",
        "z": "d2a02de7.187908",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"{\\\"cmd\\\":\\\"9881315\\\"}\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1108.9047393798828,
        "y": 1035.4286193847656,
        "wires": [
            [
                "a694877.f3343f8",
                "10092649.24a112"
            ]
        ]
    },
    {
        "id": "a694877.f3343f8",
        "type": "debug",
        "z": "d2a02de7.187908",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1188.9047393798828,
        "y": 1135.4285583496094,
        "wires": []
    },
    {
        "id": "10092649.24a112",
        "type": "json",
        "z": "d2a02de7.187908",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1278.9047393798828,
        "y": 1035.4286193847656,
        "wires": [
            [
                "6fe801c3.109ee"
            ]
        ]
    },
    {
        "id": "cb168ca5.80a758",
        "type": "inject",
        "z": "d2a02de7.187908",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 748.9047393798828,
        "y": 1055.4286193847656,
        "wires": [
            [
                "92e17f58.b10dd8"
            ]
        ]
    },
    {
        "id": "fffa1b20.5299c",
        "type": "cloudant out",
        "z": "d2a02de7.187908",
        "name": "",
        "cloudant": "",
        "database": "test",
        "service": "aletestiot-cloudantNoSQLDB",
        "payonly": false,
        "operation": "insert",
        "x": 810.4048004150391,
        "y": 30.873016357421875,
        "wires": []
    },
    {
        "id": "dfd657a2.739d7",
        "type": "debug",
        "z": "d2a02de7.187908",
        "name": "timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 590.2381439208983,
        "y": 21.4285888671875,
        "wires": []
    },
    {
        "id": "91b66c2e.31561",
        "type": "change",
        "z": "d2a02de7.187908",
        "name": "add timestamp",
        "rules": [
            {
                "t": "set",
                "p": "tiempo",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 444.2381439208984,
        "y": 79.42858886718747,
        "wires": [
            [
                "dfd657a2.739d7",
                "fffa1b20.5299c"
            ]
        ]
    },
    {
        "id": "c239f50e.70e048",
        "type": "debug",
        "z": "d2a02de7.187908",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 764.4048004150391,
        "y": 83.98417663574219,
        "wires": []
    },
    {
        "id": "978e3f0f.6c8808",
        "type": "cloudant in",
        "z": "d2a02de7.187908",
        "name": "",
        "cloudant": "",
        "database": "test",
        "service": "aletestiot-cloudantNoSQLDB",
        "search": "_all_",
        "design": "0",
        "index": "2bf4f485379bee849db283dabfb377ee",
        "x": 394.23805236816406,
        "y": 401.42852783203125,
        "wires": [
            [
                "7f166e58.c3c658",
                "da9b7dc8.ec2e5"
            ]
        ]
    },
    {
        "id": "5d5a2869.ba65",
        "type": "inject",
        "z": "d2a02de7.187908",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 261.9047088623047,
        "y": 401.6508331298828,
        "wires": [
            [
                "978e3f0f.6c8808"
            ]
        ]
    },
    {
        "id": "3f1cb72f.d6f678",
        "type": "function",
        "z": "d2a02de7.187908",
        "name": "Recorrer json",
        "func": "var hora = msg.eltiempo.slice(11,13);\nmsg.eltiempo = hora;\n//return msg;\n\n//msg.payload[0].observations[(parseInt(msg.eltiempo))];\n    \nreturn {payload: msg.payload[0].observations[(parseInt(msg.eltiempo))]};\n//return payload[0].observations[parseInt(msg.eltiempo).wx_phrase];",
        "outputs": 1,
        "noerr": 0,
        "x": 551.4047393798828,
        "y": 460.65081787109375,
        "wires": [
            [
                "7d9e980a.ea41a8",
                "2773adbe.20381a"
            ]
        ]
    },
    {
        "id": "2773adbe.20381a",
        "type": "function",
        "z": "d2a02de7.187908",
        "name": "Check",
        "func": "var weather = {payload: msg.payload.wx_phrase};\nreturn weather;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 746.9604339599609,
        "y": 461.31732177734375,
        "wires": [
            [
                "e59e9226.7270b",
                "eba9854e.65f07"
            ]
        ]
    },
    {
        "id": "7f166e58.c3c658",
        "type": "moment",
        "z": "d2a02de7.187908",
        "name": "",
        "topic": "",
        "input": "tiempo",
        "inputType": "msg",
        "inTz": "CET",
        "adjAmount": "2",
        "adjType": "hours",
        "adjDir": "add",
        "format": "",
        "locale": "en_US",
        "output": "eltiempo",
        "outputType": "msg",
        "outTz": "CET",
        "x": 322.9602813720703,
        "y": 461.873046875,
        "wires": [
            [
                "3f1cb72f.d6f678",
                "a54f525c.35d278"
            ]
        ]
    },
    {
        "id": "7d9e980a.ea41a8",
        "type": "debug",
        "z": "d2a02de7.187908",
        "name": "Recorrer json",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 553.6269073486328,
        "y": 529.761962890625,
        "wires": []
    },
    {
        "id": "da9b7dc8.ec2e5",
        "type": "debug",
        "z": "d2a02de7.187908",
        "name": "BD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 356.23805236816406,
        "y": 352.76177978515625,
        "wires": []
    },
    {
        "id": "a54f525c.35d278",
        "type": "debug",
        "z": "d2a02de7.187908",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 316.5713653564453,
        "y": 521.09521484375,
        "wires": []
    },
    {
        "id": "e59e9226.7270b",
        "type": "debug",
        "z": "d2a02de7.187908",
        "name": "check",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 741.9046478271484,
        "y": 524.7619018554688,
        "wires": []
    },
    {
        "id": "92e17f58.b10dd8",
        "type": "timeout",
        "z": "d2a02de7.187908",
        "name": "My Timeout",
        "outtopic": "",
        "outsafe": "Safe",
        "outwarning": "Warning",
        "outunsafe": "Unsafe",
        "warning": "5",
        "timer": "30",
        "repeat": false,
        "again": true,
        "x": 977.7380523681641,
        "y": 912.3175048828125,
        "wires": [
            [
                "18df0518.bedfdb"
            ]
        ]
    },
    {
        "id": "79b9cdb5.d6d68c",
        "type": "inject",
        "z": "d2a02de7.187908",
        "name": "Delete first document",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "55 23 * * *",
        "once": false,
        "onceDelay": "",
        "x": 297.46034240722656,
        "y": 652.3174743652344,
        "wires": [
            [
                "3a48b2b1.39201e"
            ]
        ]
    },
    {
        "id": "3a48b2b1.39201e",
        "type": "cloudant in",
        "z": "d2a02de7.187908",
        "name": "",
        "cloudant": "",
        "database": "test",
        "service": "aletestiot-cloudantNoSQLDB",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 481.96034240722656,
        "y": 652.3174743652344,
        "wires": [
            [
                "58d34956.5ff2d8"
            ]
        ]
    },
    {
        "id": "58d34956.5ff2d8",
        "type": "function",
        "z": "d2a02de7.187908",
        "name": "",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 491.9603729248047,
        "y": 718.984130859375,
        "wires": [
            [
                "f7ea6ea8.1124"
            ]
        ]
    },
    {
        "id": "f7ea6ea8.1124",
        "type": "cloudant out",
        "z": "d2a02de7.187908",
        "name": "",
        "cloudant": "",
        "database": "test",
        "service": "aletestiot-cloudantNoSQLDB",
        "payonly": false,
        "operation": "delete",
        "x": 626.4603729248047,
        "y": 718.9841003417969,
        "wires": []
    }
]
